
@{
    ViewBag.Title = "Patient Home";
}
    <br />
<h2>PatientHome</h2>
@using (Html.BeginForm())
{
    if (Session["UserId"] != null)
    {
        @ViewBag.SucessMessage;
        Session.Remove("UserId");
        Session.Remove("Password");
    }
    <br />
    <div class="btn-group-vertical">
        <br />
        <a href='@Url.Action("AppointmentForm", "BookAppointment")' class="btn btn-success btn-group-lg">Book AppointMent</a>
        <br />
        <a href='@Url.Action("Medicaresview", "PatientLogin")' class="btn btn-info btn-group-lg">View Medicare Services</a>
        <br />
        <a href='@Url.Action("Doctorsview", "PatientLogin")' class="btn btn-info btn-group-lg">View Doctor</a>
        <br />
        <a href='@Url.Action("Agentsview", "PatientLogin")' class="btn btn-info btn-group-lg">View Agent</a>
        <br />
        <a href='@Url.Action("Appointmentview","AgentLogin")' class="btn btn-info btn-group-lg">View Appointment</a>
        <br />
        <a href='@Url.Action("", "DoctorLogin")' class="btn btn-primary btn-group-lg ">View TestResults</a>
        <br />
        <a href="" class="btn btn-warning btn-group-lg">Logout</a>
    </div>
   
}

