
@{
    ViewBag.Title = "AppointmentsList";
}
<br />
<h3 style="color:darkblue;text-align:center">Appointment Details</h3>
<table class="table" style="margin-top:30px;">
    <thead>
        <tr>
            <th>Appointment Id</th>
            <th>Doctor Name</th>
            <th>Medicare Service</th>
            <th>SelectDate </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.AppointmentId</td>
            <td>@ViewBag.DoctorName</td>
            <td>@ViewBag.MedicareService</td>
            <td>@ViewBag.selectDate</td>

        </tr>
    </tbody>
</table>
<div>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Roles","RoleSelection")'">Back</button>
</div>

