@model DiagnosticMedicalCenter.Models.BookAppointment
@{
    ViewBag.Title = "AppointmentForm";
}

<html>
<head>
    @Styles.Render("~/Content/StyleSheet.css")
</head>
<body>
    <h2 style="margin-top:50px;margin-bottom:20px;">Doctor Appointment</h2>
    @using (Html.BeginForm("AppointmentForm", "BookAppointment", FormMethod.Post))
    {

        <div class="form-group">
            @Html.LabelFor(m => m.DoctorName)
            @Html.TextBoxFor(m => m.DoctorName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DoctorName, "", new { @class = "text-danger" })
        </div>

        <div class="form-inline">
            @Html.LabelFor(m => m.MedicareService)
            &nbsp;&nbsp;@Html.RadioButtonFor(m => m.MedicareService, "Blood Glucose Level", new { @class = "form-control" })&nbsp;&nbsp;Blood Glucose Level
            &nbsp;&nbsp; @Html.RadioButtonFor(m => m.MedicareService, "Plasma-Serum Levels", new { @class = "form-control" })&nbsp;&nbsp;Plasma-Serum Levels
            <br />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &nbsp;&nbsp; @Html.RadioButtonFor(m => m.MedicareService, "RBC & WBC Check", new { @class = "form-control" })&nbsp;&nbsp;RBC & WBC Check
            &nbsp;&nbsp; @Html.RadioButtonFor(m => m.MedicareService, " ERC & Serum Level", new { @class = "form-control" })&nbsp;&nbsp;ERC & Serum Level
            @Html.ValidationMessageFor(m => m.MedicareService, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SelectDate)
            @Html.EditorFor(m => m.SelectDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SelectDate, "", new { @class = "text-danger" })
        </div>

        <div style="margin-bottom:30px;">
            <br />
            <button class="btn btn-success" type="submit">Update</button>
            <button class="btn btn-warning" type="reset">Reset</button>
        </div>}

    <div>
        <button class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Roles","RoleSelection")'">Back</button>
    </div>

    <h4 class="text-danger">@ViewBag.ValidationMessage</h4>
</body>
</html>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}