@model DiagnosticMedicalCenter.Models.Doctor

@{
    ViewBag.Title = "Login";
}
<html>
<head>
    @Styles.Render("~/Content/StyleSheet.css")
</head>
<body>

    <div class="center">
        <h2 style="margin-top:80px;color:darkblue;"><span class="glyphicon glyphicon-log-in"></span> Doctor Login</h2>
        @using (Html.BeginForm("Login", "DoctorLogin", FormMethod.Post))
        {
            <div style="margin-top:20px;">
                <div class="form-group">
                    @Html.Label("User Id")
                    @Html.TextBox("UserId", null, new { @class = "form-control", id = "userId" })
                </div>
                <div class="form-group">
                    @Html.Label("Password")
                    @Html.Password("Password", null, new { @class = "form-control", id = "password" })
                </div>
                <div style="margin-bottom:30px;margin-top:20px;">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                </div>
            </div>
        }
        <h4 class="text-danger">@ViewBag.ValidationMessage</h4>
    </div>
    
</body>
</html>